.nav {
    grid-area: n;
    background-color: #EDEEF0;
    text-align: center;

}

.item  {
    padding: 1.3em;
}

.item a {

    color: blue;
    text-decoration: none;
}

.item a.actived {
    color: red;
}